<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- 自动扫描的包注解 -->
	<context:component-scan base-package="com">  
  		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />  
	</context:component-scan>

	<!-- properties -->
	<bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>classpath*:setting.properties</value>
			</list>
		</property>
	</bean>
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="false" />
		<property name="properties" ref="configProperties" />
	</bean>

	<!-- 全局配置文件 -->
	<bean class="com.fastjavaframework.Setting">
		<property name="properties" ref="configProperties" />
	</bean>

	<!-- 数据库 -->
	<import resource="classpath:config/dataSource.xml" />

	<!-- 封装异常 -->
	<bean id="exceptionHandler" class="com.fastjavaframework.exception.ExceptionHandler">
		<!-- 自定义返回错误信息 -->
		<property name="message" value="请稍后再试！" />
	</bean>
	
	<!-- 系统信息设置 -->
	<bean class="com.fastjavaframework.listener.SystemSet"></bean>
	
	<!-- 字典表
	<bean class="com.fastjava.listener.SystemCode"></bean> -->

	<!-- 定时任务 -->
	<import resource="classpath:config/quartz.xml" />
	
	<!-- 安全框架 -->
	<import resource="classpath:config/shiro.xml" />

</beans>