<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration>
	<!-- 控制台输出 -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss:SSS} %l %m%n" />
		</layout>
		<!--限制输出级别 ERROR、WARN、INFO、DEBUG -->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="ERROR" />
			<param name="LevelMin" value="DEBUG" />
		</filter>
	</appender>

	<!-- ERROR日志输出 -->
	<appender name="ERROR_LOG_FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
		<param name="Encoding" value="utf-8" />
		<param name="Threshold" value="ERROR" />
		<param name="File" value="../logs/${project.name}/error/error.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d%n%-5p [%c] %m%n%n" />
		</layout>
	</appender>

	<!-- 定时任务日志输出 -->
	<appender name="QUARTZ_LOG_FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
		<param name="Encoding" value="utf-8" />
		<param name="Threshold" value="INFO" />
		<param name="File" value="../logs/${project.name}/quartz/quartz.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n%n" />
		</layout>
	</appender>
	
	<!-- log4jdbc sql打印 -->
	<logger name="jdbc.sqltiming">
		<param name="Level" value="WARNING" />
    </logger>
    
    <!-- 定时任务日志包 -->
    <logger name="com.fastjavaframework.quartz">
		<param name="Level" value="INFO" />
        <appender-ref ref="QUARTZ_LOG_FILE" />
    </logger>
    
	<root>
		<priority value="ERROR" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>