<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.website.dao.SysCodeDaoMapper">
	<resultMap type="com.website.model.bo.SysCodeBO" id="sysCodeBO">
		<result column="ID" property="id" />
		<result column="PARENT_ID" property="parentId" />
		<result column="GROUP_ID" property="groupId" />
		<result column="CODE" property="code" />
		<result column="VALUE" property="value" />
		<result column="SQEUENCE" property="sqeuence" />
		<result column="ENABLE" property="enable" />
	</resultMap>

	<insert id="insert" parameterType="sysCodeBO" useGeneratedKeys="true" keyProperty="id">
		INSERT code
		(ID,PARENT_ID,GROUP_ID,CODE,VALUE,SQEUENCE,ENABLE)
		VALUES
		(#{id},#{parentId},#{groupId},#{code},#{value},#{sqeuence},#{enable})
	</insert>

	<insert id="insertBatch" parameterType="java.util.List">
		INSERT code
		(ID,PARENT_ID,GROUP_ID,CODE,VALUE,SQEUENCE,ENABLE)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.id},#{item.parentId},#{item.groupId},#{item.code},#{item.value},#{item.sqeuence},#{item.enable})
		</foreach>
	</insert>

	<update id="update" parameterType="sysCodeBO">
		UPDATE code
		<trim prefix="SET" suffixOverrides=",">
			<if test="id != null">
				ID=#{id},
			</if>
			<if test="parentId != null">
				PARENT_ID=#{parentId},
			</if>
			<if test="groupId != null">
				GROUP_ID=#{groupId},
			</if>
			<if test="code != null">
				CODE=#{code},
			</if>
			<if test="value != null">
				VALUE=#{value},
			</if>
			<if test="sqeuence != null">
				SQEUENCE=#{sqeuence},
			</if>
			<if test="enable != null">
				ENABLE=#{enable},
			</if>
		</trim>
		WHERE id=#{id}
	</update>

	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" separator=";">
			UPDATE code
			<trim prefix="SET" suffixOverrides=",">
				<if test="id != null">
					ID=#{item.id},
				</if>
				<if test="parentId != null">
					PARENT_ID=#{item.parentId},
				</if>
				<if test="groupId != null">
					GROUP_ID=#{item.groupId},
				</if>
				<if test="code != null">
					CODE=#{item.code},
				</if>
				<if test="value != null">
					VALUE=#{item.value},
				</if>
				<if test="sqeuence != null">
					SQEUENCE=#{item.sqeuence},
				</if>
				<if test="enable != null">
					ENABLE=#{item.enable},
				</if>
			</trim>
			WHERE id=#{id}
		</foreach>
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM code WHERE id=#{id}
	</delete>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM code WHERE id IN
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<select id="findById" parameterType="String" resultType="sysCodeBO">
		SELECT
		ID,PARENT_ID as parentId,GROUP_ID as groupId,CODE,VALUE,SQEUENCE,ENABLE
		FROM code
		WHERE id=#{id}
	</select>

	<select id="queryByOr" parameterType="sysCodeBO" resultType="sysCodeBO">
		SELECT
		ID,PARENT_ID as parentId,GROUP_ID as groupId,CODE,VALUE,SQEUENCE,ENABLE
		FROM code
		<where>
			<if test="id != null">
				or ID=#{id}
			</if>
			<if test="parentId != null">
				or PARENT_ID=#{parentId}
			</if>
			<if test="groupId != null">
				or GROUP_ID=#{groupId}
			</if>
			<if test="code != null">
				or CODE=#{code}
			</if>
			<if test="value != null">
				or VALUE=#{value}
			</if>
			<if test="sqeuence != null">
				or SQEUENCE=#{sqeuence}
			</if>
			<if test="enable != null">
				or ENABLE=#{enable}
			</if>
		</where>
	</select>

	<select id="queryByAnd" parameterType="sysCodeBO" resultType="sysCodeBO">
		SELECT
		ID,PARENT_ID as parentId,GROUP_ID as groupId,CODE,VALUE,SQEUENCE,ENABLE
		FROM code
		<where>
			<if test="id != null">
				and ID=#{id}
			</if>
			<if test="parentId != null">
				and PARENT_ID=#{parentId}
			</if>
			<if test="groupId != null">
				and GROUP_ID=#{groupId}
			</if>
			<if test="code != null">
				and CODE=#{code}
			</if>
			<if test="value != null">
				and VALUE=#{value}
			</if>
			<if test="sqeuence != null">
				and SQEUENCE=#{sqeuence}
			</if>
			<if test="enable != null">
				and ENABLE=#{enable}
			</if>
		</where>
	</select>

</mapper>